body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: white;
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 5px;
}

#home {
  text-align: center;
}

#home p {
  font-size: 1.2em;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.category h3 a {
  color: black;
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0;
}

.product p {
  color: #555;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}


#payment {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#payment h2 {
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  background-color: #555;
}

