/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

img {
  border: 5px solid #555;
}


h1, h2 {
    font-weight: bold;
}

section {
    padding: 20px 0;
}



.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#why-choose-us ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
}
